<!DOCTYPE html>
<html lang="en">
<head>
<title>WebLab</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico">

<script src="./js/jquery-1.7.2.min.js"></script>
<!--[if lt IE 9]><script src="js/modernizr.custom.js"></script><![endif]-->
<script src="./js/jquery.flexslider-min.js"></script>
<script src="./js/functions.js"></script>
</head>
<body>
<div id="wrapper">
  <!-- header -->
  <header class="header">
    <!-- shell -->
    <div class="shell">
      <!--h1 id="logo"><a href="#">Astrony</a></h1-->
      <h2  class="logo"><a href="#" >Astrony</a></h2>
      <!-- navigation -->
      <nav id="navigation">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">contacts </a></li>
        </ul>
      </nav>
      <!-- navigation -->
    </div>
    <!-- end of shell -->
  </header>
  <!-- end of header -->
  <!-- shell -->
  <div class="shell">
    <!-- main -->
    <div class="main" > 
      <!-- slider-holder -->
      
      <section class="slider-section" >
        
        <h2 class="alignleft">We create <strong>AWESOME</strong> Web Applications</h2>
        <a href="#" class="buy-btn">Wanna Build One ?</a>
  
        <div class="cl">&nbsp;</div>
        <!-- slider -->
        
        <div class="slider-holder" >  
          <div class="flexslider" style="background-image: url('assets/images/world.png')">
            <p>&nbsp;</p><p>>&nbsp;</p><p>>&nbsp;</p>
            <p   class="description"><strong>Astrony Inc </strong>mission is to enhance the business operation of its clients by developing high quality software and/or implementing premium IT products and services.

            </p>
          </div>
        </div>
        <div class="slider-holder">&nbsp;</div>
        <h2 class="alignleft">Our Services</h2>
        <!-- end of slider -->
      </section>
      <!-- slider-holder -->
      <!-- cols -->
      <section class="cols">
        <div class="col">
          
          <h3 class="phone-ico"><a href="#">Web Development</a></h3>
          <p>As your end-to-end technology partner, we engineer world class web, mobile & custom software solutions that deliver result and increases business efficiency.</p>
          <a href="#" class="more">Read More</a> </div>
        <div class="col">
          <h3 class="starter-ico"><a href="#">IT Infrastructure</a></h3>
          <p>we provide high quality products that combine performance with value pricing while
            establishing a successful relationship with our customer and suppliers.</p>
          <a href="#" class="more">Read More</a> </div>
        <div class="col">
          <h3 class="save-ico"><a href="#">Consultation</a></h3>
          <p>We offer Business and Technology consulting for Software Development,  Online Applications Development for business, Maintenance Services and Web publishing (websites/portals)</p>
          <a href="#" class="more">Read More</a> </div>
        <div class="cl">&nbsp;</div>
      </section>
      <!-- end of cols -->
      <!-- featured -->
      <section>
        <h3 class="alignleft">Featured Projects</h3>
        <a href="#" class="all-projects"><strong>+</strong>All projects</a>
        <div class="cl">&nbsp;</div>
        <div class="featured">
          <div class="entry"> <a href="#"><em></em> <img src="assets/images/entry-img1.png" alt=""> <span>Integer Aliquam,Quam </span> </a> <strong></strong> </div>
          <div class="entry"> <a href="#"><em></em> <img src="assets/images/entry-img2.png" alt=""> <span>Integer Aliquam,Quam </span> </a> <strong></strong> </div>
          <div class="entry"> <a href="#"><em></em> <img src="assets/images/entry-img3.png" alt=""> <span>Integer Aliquam,Quam </span> </a> <strong></strong> </div>
          <div class="entry"> <a href="#"><em></em> <img src="assets/images/entry-img4.png" alt=""> <span>Integer Aliquam,Quam </span> </a> <strong></strong> </div>
          <div class="entry"> <a href="#"><em></em> <img src="assets/images/entry-img5.png" alt=""> <span>Integer Aliquam,Quam </span> </a> <strong></strong> </div>
          <div class="cl">&nbsp;</div>
        </div>
      </section>
      <!-- end of featured -->
    </div>
    <!-- end of main -->
  </div>
  <!-- end of shell -->
  <div id="footer-push"></div>
</div>
<!-- footer -->
<div id="footer">
  <!-- shell -->
  <div class="shell">
    <div class="widgets">
      <div class="widget">
        <h4>CATEGORIES</h4>
        <ul>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Mobile App Development</a></li>
          <li><a href="#">IT Infrastructure</a></li>
          <li><a href="#">Consultation</a></li>
          <li><a href="#">Social media management</a></li>
        </ul>
      </div>
      <div class="widget gallery-widget">
        <h4>GALLERY</h4>
        <ul>
          <li><a href="#"><img src="assets/images/gallery-img.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/gallery-img2.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/gallery-img3.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/gallery-img4.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/gallery-img5.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/gallery-img6.png" alt=""></a></li>
        </ul>
      </div>
      <div class="widget">
        <h4>Astrony Inc</h4>
        <ul>
          <li><a href="#">More About Us</a></li>
          <li><a href="#">Our Portfolio Company</a></li>
          <li><a href="#">Company Blog</a></li>
          <li><a href="#">Our Mission</a></li>
          <li><a href="#">Get in Touch with UsMore</a></li>
        </ul>
      </div>
      <div class="widget contact-widget">
        <h4>Contacts</h4>
        <p class="address-ico"> Astrony Inc Head Office<br>
          15591 60th Ave N, <br>
          Plymouth MN 55446 </p>
        <p class="phone-ico"> Phone: +1 7755538787 </p>
        <a href="#" class="chat-btn"><span class="chat-ico"></span>Client Sheet</a> </div>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- end of widgets -->
    <!-- footer-bottom -->
    <div class="footer-bottom">
      <!-- footer-nav -->
      <div class="footer-nav">
        <ul>
          <li class="active"><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">PORTFOLIO</a></li>
          <li><a href="#">CONTACTS</a> </li>
        </ul>
      </div>
      <!-- end of footer-nav -->
      <p class="copy">&copy; company name. Design by <a target="_blank" href="http://chocotemplates.com">Astrony Inc</a></p>
    </div>
    <!-- end of footer-bottom -->
  </div>
  <!-- end of shell -->
</div>
<!-- end of footer -->
</body> 
</html>